ul {
    	list-style-type: none;
    	margin: 0;
    	padding: 0;
    	overflow: auto;
    	background-color: #333333;
}

li a.desk {
	font-size: 1.2vw;
}

li a.mobile {
	font-size: 1.8vw;
}

li a {
		font-family: "Arial Black", Gadget, sans-serif;
		float: left;
    	color: white;
    	text-align: center;
    	padding: 1vw;
    	text-decoration: none;
}


li a:hover {
    	background-color: #111111;
} 

hr {
	border-width: 1px;
}

h1 {
	font-family: Impact, Charcoal, sans-serif;
	text-align: center;
	float: left;
	width: 100%;
	font-size: 4vw;
}

h2 {
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: left;
	width: 100%;
	height: auto;
	font-size: 2vw;
}

h3 {
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: left;
	width: 100%;
	height: auto;
	font-size: 1.5vw;
}

p {
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: left;
	width: 100%;
	height: auto;
	font-size: 1.2vw;
}

div.container {
	position: relative
}

.floatLeft {
	float: left;
}

address {
	float: left;
	clear: both;
}

a {
	font-size: 1.35vw;
}

br {
	float: left;
}

img {
	width: 100%;
	height: auto;
}

#deskShow {display: block;}
#mobileShow {display: none;}

@media screen and (max-width: 768px) {

#deskShow {display: none;}
#mobileShow {display: block;}

}