body {
	background-color: #fcfcfc;
}

ul {
    background-color: #333333;
}

li a {
	color: #ffffff;
}

li a:hover {
    background-color: #111111;
} 

button {
	color: #ffffff;
	background-color: #333333;
}

button:hover {
    background-color: #111111;
} 

.deskTable th {
    background-color: #000000;
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}

.mobTable th {
    background-color: #000000;
    color: #ffffff;
}